@import "main.css";
@import "home.css";
main{
    width: 80vw;
    flex-wrap: wrap;
}

main img{
    width: 40vw;
    max-width: 20rem;
    max-height: 20rem;
    padding: 5%;
}

h2{
    text-align: center;
}

img.flashing{
    animation: flashAnimation 0.5s ease-in-out infinite;
}

section{
    align-self: center;
}

#counterElements{
    display: flex;
    justify-content: space-between;

}

@keyframes flashAnimation{
    0%, 50%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}

button.disabled{
    background-color: var(--dark-primary-color);
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}