<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The home page for 'Redlight Greenlight'; the online version of the original children's game. This page allows users to either navigate to the game or leaderboard page, or logout.">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="module" src="./home.js"></script>
  </head>
  <body>
    <main>
      <section id="loadingScreen">
        <img src="./loading-icon-secondary.png" alt="loading icon that contains a traffic light instead of an arrow">
      </section>
      <h1>Red Light Green Light</h1>
      <button id="playButton" class="shimmer">Play</button>
      <button id="leaderboardButton">Leaderboard</button>
      <button id="logoutButton">Logout</button>
    </main>
  </body>
</html>